# --- Services ---
networking/tailscale/tailscale-data/
networking/traefik/acme.json
networking/coredns/Corefile
homepage/config/logs/
utilities/stirling-pdf/stirling-data/
*.log

# --- OS / IDE specific ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Secrets ---
.env
.env.local
.env.*.local
