# --- Services ---
networking/tailscale/tailscale-data/
networking/traefik/letsencrypt/acme.json
networking/coredns/Corefile
homepage/config/logs/
utilities/stirling-pdf/stirling-data/
utilities/metube/downloads/
*.log
monitoring/komodo/config/core.config.toml

# --- OS / IDE specific ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Secrets ---
.env
.env.local
.env.*.local
