MAIN_DOMAIN=example.com

# KOMODO
KOMODO_DB_USERNAME=admin
KOMODO_DB_PASSWORD=admin
KOMODO_JWT_SECRET=

## DEFAULTS
PERIPHERY_ROOT_DIRECTORY=/etc/komodo
COMPOSE_KOMODO_BACKUPS_PATH=/etc/komodo/backups

KOMODO_PRIVATE_KEY_FILE=/config/keys/core.key
KOMODO_PERIPHERY_PUBLIC_KEY=

PERIPHERY_PRIVATE_KEY_FILE=/config/keys/periphery.key
PERIPHERY_CORE_PUBLIC_KEYS=
# DOZZLE
