MAIN_DOMAIN=example.com

# MONITORING
## KOMODO
KOMODO_DB_USERNAME=
KOMODO_DB_PASSWORD=
COMPOSE_COMODO_BACKUPS_PATH=/etc/komodo/backups
FERRETDB_IMAGE_TAG=2.7.0
FERRETDB_POSTGRESQL_IMAGE_TAG=17-0.107.0-ferretdb-2.7.0
PERIPHERY_PASSKEYS=abc123

## DOZZLE
