MAIN_DOMAIN=example.com

# KOMODO
KOMODO_DB_USERNAME=admin
KOMODO_DB_PASSWORD=admin
FERRETDB_IMAGE_TAG=2.7.0
FERRETDB_POSTGRESQL_IMAGE_TAG=17-0.107.0-ferretdb-2.7.0
PERIPHERY_PASSKEYS=abc123
KOMODO_JWT_SECRET=

## OPTIONAL
PERIPHERY_ROOT_DIRECTORY=/etc/komodo
COMPOSE_COMODO_BACKUPS_PATH=/etc/komodo/backups

## DEPRECATED
KOMODO_PASSKEY=


# DOZZLE
